* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height:100vh;
    margin: 0;
    background: rgb(25,11,34);
    overflow-y: hidden;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*--- PAGE LAYOUT ---*/

.header {
    text-align: right;
    padding-right: 50px;
    position: absolute;
    right: 0;
}
.header--title {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color:white;
}
.header--subtitle {
    font-family: Garamond, serif;
    font-weight: 100;
    letter-spacing: 1rem;
    color: #FFD029;
}


/*--- BODIES ---*/

.bodiesWrapper {
    height: 100%;
    min-width: 750px;
    background: linear-gradient(90deg, rgba(25,11,34,1) 0%, rgba(12,22,77,1) 100%);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* all bodies */
.bodiesWrapper--body {
    border-radius: 100%;
    transition: 0.5s;
}
.bodiesWrapper--body:hover {
    box-shadow: 0 0 0 2px rgb(25,11,34),
                0 0 0 5px rgba(255, 255, 255, 0.5),
                0 0 0 9px rgba(255, 255, 255, 0.5),
                0 0 0 12px rgba(255, 255, 255, 0.5);
}

/* star specific */
.body--star {
    position: absolute;
}

/* planet specific */
#solis { background-color: #FFD029; }
#mercurialis { background-color: #888888; }
#venus { background-color: #E7CDCD; }
#tellus { background-color: #428ED4; }
#mars { background-color: #EF5F5F; }
#lovis { background-color: #E29468; }
#saturnus { 
    background-color: #C7AA72; 
    position: relative; 
    margin: 20px;
}
#uranus { background-color: #C9D4F1; }
#neptunus { background-color: #7A91A7; }

/* gives the ring to Saturnus */
#saturnus::after {
    position: absolute;
    content: "";
    right: 50%;
    bottom: -25%;
    width: 5px;
    height: 150%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(60deg);
}


/*--- Overlay ---*/

.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(25,11,34,);
    background: linear-gradient(90deg, rgba(25,11,34,1) 0%, rgba(12,22,77,1) 100%);
    position: absolute;
    top: 0;
}